/*Zhen Xiao 05/08/2023*/

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    max-width: 2048px;

}


main {
    background-color: rgb(249, 247, 247);
    padding: 0px;
    display: block;
    overflow: auto;
    flex: 1;
}

#homeHero {
    height: 700px;
    width: auto;
    background-image: url(images/heroimag.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header {
    background-color: #66BFBF;
    padding: 20px;
}

nav {
    background-image: linear-gradient(#66BFBF, #daaaad);
    text-align: center;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 100%;

}

nav ul {
    display: flex;
    list-style: none;
    font-size: 1.2em;
}


nav li {
    margin: auto;
}


h1 {
    font-size: 5.625rem;
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #11999E;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #11999E;
    font-weight: 400;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E
}

.pro {
    text-decoration: underline;
}


.top-container {

    padding-top: 3.125em;

}

footer {
    background-color: #66BFBF;
    position: relative;
    padding-top: 2em;
    padding-bottom: 0px;
}

.intro {
    text-align: left;
    width: 50%;
    padding: 0.625em 1.875em 3.125em;
    margin: auto;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 0.625em 1.25em 0em;
}

a:hover {
    color: #b27385;
}

.app {
    margin: 0;
}

.accomp li {
    height: 60px;
}

.skill-row {
    width: 50%;
    margin: 6em auto 6.25em auto;
    text-align: left;
}

.strength-image {
    height: auto;
    width: 70%;
}

.code-img {
    width: 25%;
    float: left;
    margin-right: 1.875em;
}

.learning-img {
    width: 25%;
    float: right;
    margin-left: 1.875em;
}


.contact-message {
    width: 50%;
    padding: 3.125em;
    margin: 7em auto 6.25em;
}

p {

    line-height: 3;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);

    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 0.625em 1.25em 0.625em 1.25em;
    text-decoration: none;
    margin: 6.375em;

}

.btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
}

.footer-icon {
    width: 30px;
    height: 30px;
}

.copyright {
    color: #EAF6F6;
    font-size: 75%;
    padding: 1.25em 0;
}


/*mobile section*/
@media screen and (max-width: 645px) {

    .wrapper {
        max-width: 100%;
        padding: 0;
    }



    nav ul {
        display: flex;
        flex-direction: column;
        gap: 2em;
        align-items: center;

    }

    nav li {
        margin: 0 5px;
    }

    h1 {
        font-size: 4em;
    }

    .intro {
        width: 70%;
    }

    .accomp li {
        height: 100px;
    }

}

/*tablet section*/
@media (min-width: 1250px) {

    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    nav li:last-child {
        margin-left: auto;
    }


    header {
        height: 200px;
        padding-top: 30px;
    }

    h1 {
        font-size: 4em;
        letter-spacing: 0.2em;
    }

    .intro {
        width: 70%;
    }

}


/*////////My work page/////////*/

.mywork-h2 {
    text-shadow: 4px 4px 5px #fff;
    font-size: 1.5em;
}


.row p {
    line-height: 2;
    text-align: left;
}

#centered-link {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;

}

#centered-link img {
    margin: auto;

}

.smallimage {
    /* max-width: auto;
    height: auto; */
    border-radius: 10px;

}

.smallimage:hover {
    opacity: 0.5;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 30px 10px 0px;
}

/* Left column */
.column.sideleft {
    width: 25%;
    background-color: #add8e6;
    height: 700px;
    /* This is how we have equal columns */


}

/* Middle column */
.column.middle {
    width: 50%;
    background-color: #A9BCBA;
    overflow: hidden;
    height: 700px;
}

/* right column */
.column.sideright {
    width: 25%;
    background-color: #C78B88;
    height: 700px;

}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {

    .column.sideleft,
    .column.middle,
    .column.sideright {
        width: 100%;
    }
}

/*/////////pricing page//////////*/
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: separate;
    border-spacing: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.title {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    text-align: center;
}

#customers tr:nth-child(even) {
    background-color: #ffffe0;
}

#customers tr:hover {
    background-color: #ddd;
}

tfoot {
    text-align: center;
    color: green;

}

img {
    max-width: 100%;
    height: auto;
}